body {
  font-size: 16px;
}

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  padding-top: 175px;
  padding-bottom: 175px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 175px;
    padding-bottom: 175px;
  }
}

.col-lg-3:hover, .col-lg-3:active{
  background-color: rgb(200, 200, 200);

}

.teamMember {
  min-height: 350px;
  max-height: 350px;
}

<<<<<<< HEAD
.bio {
  min-height: 340px;
=======
.logo {
  height: 80px;
  width: auto;
  padding: 12px;
>>>>>>> 26a8ec78cebd8c8ca2c9a48251eeaa134e96d31b
}
