* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-size: 16px;
  height: 100%;
}

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  background-image: url('../images/TIY_Group.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .jumbotron{
    background-image: url('../images/TIY_Group.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.jumbo-text {
  background-color: rgba(252,252,252,0.5);
  margin-top: 150px;
  text-align: center;
}



@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 175px;
    padding-bottom: 175px;
  }
}

.col-lg-3:hover, .col-lg-3:active{
  background-color: rgb(200, 200, 200);

}

.teamMember {
  min-height: 350px;
  max-height: 350px;
}

.bio {
  min-height: 340px;
}

.logo {
  height: 40px;
  width: auto;
  margin: auto;
  margin-top: 5px;
}

.footerContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.6em;
}


footer {
  background-color: grey;
  margin-top: 2em;
  height: 100px;
}

.fb {
  height: 30px;
}

.page-wrap {
  min-height: 100%;
}

.car-img {
  max-height: 55vh;
}

.kelly-car {
  color: #2f3f4f;
}

.joni-carousel {
  color: #EDF7DE;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}
