* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  /*leave background color as white for now*/
  flex-direction: column;
}

header {
  display: flex;
  background-color: rgb(100, 100, 100);
  width: 100%;
  height: 450px;
}

.logo {
  background-color: rgb(150, 150, 150);
  width: 120px;
  height: 120px;
  justify-content: flex-start;
}

.flex-items-default {
  /*width: 300px;*/
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
}

nav {
  display: flex;
  background-color: skyblue;
  width: 100%;
  height: 2em;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;

}

.nav-button {
background-color: red;
width: 1em;
height: 80%;
flex-basis: 200px;
}

.button1 {
  background-color: purple;
}

.button2 {
  background-color: blue;
}

.button3 {
  background-color: yellow;
}

.carousel {
  display: flex;
  width: 100vw;
  height: 450px;
  background-color: orange;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.carousel-box {
  width: 18vw;
  background-color: black;
  height: 90%;
}

.section-two {
  display: flex;
  /*padding: 2em 0 2em 0;*/
  width: 100%;
  background-color: lightgreen;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;;
}

.circle-pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: pink;
}

.column-one, .column-two, .column-three {
  margin: 2em;
}

.column-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

.column-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

.column-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

.pic-caption {
  height: 90px;
  width: 250px;
  background-color: pink;
}

footer {
  display: flex;
}
